<form class="form mat-elevation-z8">
    <h1>Atualizando técnico</h1>
    <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input [(ngModel)]="tecnico.nome" name="nome" placeholder="Ex: Fabricio Monteiro" [formControl] ="nome" required>
      <mat-error *ngIf="nome.invalid">{{errorValidNome()}}</mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>CPF</mat-label>
        <input [(ngModel)]="tecnico.cpf" name="cpf" matInput placeholder="000.000.000-00" [formControl] ="cpf" required maxlength="15">
        <mat-error *ngIf="cpf.invalid">{{errorValidCpf()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="tecnico.telefone" name="telefone" matInput placeholder="Ex: (00) 90000-0000" [formControl] ="telefone" required maxlength="18">
        <mat-error *ngIf="telefone.invalid">{{errorValidTelefone()}}</mat-error>
      </mat-form-field>

      <button class="mat-elevation-z8" [disabled]="errorValidCpf() || errorValidNome() || errorValidTelefone()" color="accent" >Atualizar</button>
      <button class="mat-elevation-z8" mat-stroked-button color="warn">Cancelar</button>
</form>